<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" href="/touch-icon.png">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
    <link rel="stylesheet" href="/static/styles/style.css">
    <style>
        #journal_metadata {
            width: 100%;
            max-width: 100%;
            top: 20px;
            margin: auto;
            text-align: center
        }

        #journal_content {
            width: 100%;
            max-width: 600px;
            top: 20px;
            margin: auto;
            text-align: justify;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        #journal_content .bbcode_center {
            width: 100%;
            margin: auto;
            text-align: center;
            font-family: inherit;
        }

        #journal_metadata table {
            width: 300px;
            max-width: 300px;
            margin: auto;
        }

        #journal_metadata table td {
            padding: 2px;
        }

        #journal_metadata .value {
            max-width: 300px;
        }

        @media only screen and (max-width: 300px) {
            #journal_metadata table, #journal_metadata .value {
                width: 100%;
                max-width: 100%;
            }
        }

        @media only screen and (max-width: 600px) {
            #journal_content {
                width: 100%;
                max-width: 100vw;
            }
        }
    </style>
</head>
<body>
<div id="journal_metadata">
    <h2>{{ journal["TITLE"] }}</h2>
    <table class="border" style="max-width: 300px">
        <tr>
            <td class="border">Author</td>
            <td class="overflow value border"><a href="/user/{{ journal["AUTHOR"] }}">
                {{ journal["AUTHOR"] }}
            </a></td>
        </tr>
        <tr>
            <td class="border">Date</td>
            <td class="overflow value border">{{ journal["DATE"].strftime("%Y-%m-%d %H:%M") }}</td>
        </tr>
        <tr>
            <td class="border">Mentions</td>
            <td class="overflow value border">
                {% for user in journal["MENTIONS"] %}
                    {% if user != "" %}
                        <a href="/user/{{ user }}">{{ user }}</a>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
    </table>
    <br>
    <a class="nocolor" href="/journal/{{ journal["ID"] }}/zip/journal-{{ "{0:010}".format(journal["ID"]) }}.zip">
        <button>Download as ZIP</button>
    </a>
    <br>
    <a class="nocolor" href="https://www.furaffinity.net/journal/{{ journal["ID"] }}">
        <button>Open on Fur Affinity</button>
    </a>
    <br>
    <a class="nocolor" href="/journal/{{ next }}" {{ "disabled" if not next }}>
        <button {{ "disabled" if not next }}>Next</button>
    </a>
    <a class="nocolor" href="/journals/{{ journal["AUTHOR"] }}">
        <button>All</button>
    </a>
    <a class="nocolor" href="/journal/{{ prev }}" {{ "disabled" if not prev }}>
        <button {{ "disabled" if not prev }}>Prev</button>
    </a>
</div>
<br><br>
<div id="journal_content">
    {% autoescape false %}
    {{ journal["CONTENT"] }}
    {% endautoescape %}
</div>
<script>
    document.querySelectorAll("#journal_content a.iconusername > img")
        .forEach((icon) => {
            icon.hidden = true
            icon.parentElement.innerText = `@${icon.title}`
        })

    document.querySelectorAll("#journal_content a")
        .forEach((a) => a.href = a.href.replace(/^https?:\/\/(www\.)?furaffinity\.net\//, "/"))

    document.querySelectorAll("#journal_content code").forEach((e) => {
        const r = document.createElement("div")
        r.innerHTML = e.innerHTML
        r.classList = e.classList
        e.parentNode.replaceChild(r, e)
    })
</script>
</body>
</html>
