<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" href="/touch-icon.png">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
    <link rel="stylesheet" href="/static/styles/style.css">
    <style>
        #submission_file {
            width: 100%;
            margin: auto;
            text-align: center
        }

        #submission_file img {
            height: available;
            max-width: 100%;
            max-height: 90vh;
            margin: auto;
            object-fit: contain;
        }

        #submission_file pre {
            width: 90vw;
            max-width: 750px;
            margin: auto;
            text-align: justify;
            white-space: pre-wrap;
            padding: 5px;
            font-family: -moz-fixed, monospace;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        #submission_metadata {
            width: 100%;
            max-width: 100%;
            top: 20px;
            margin: auto;
            text-align: center
        }

        #submission_description {
            width: 100%;
            max-width: 600px;
            top: 20px;
            margin: auto;
            text-align: justify;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        #submission_description .bbcode_center {
            width: 100%;
            margin: auto;
            text-align: center;
            font-family: inherit;
        }

        #submission_metadata table {
            width: 100%;
            max-width: 300px;
            margin: auto;
        }

        #submission_metadata table td {
            padding: 2px;
        }

        #submission_metadata .value {
            max-width: 300px;
        }
    </style>
</head>
<body>
<div id="submission_file">
    {% if submission["FILESAVED"] < 2 %}
        Submission has no file
    {% elif submission["TYPE"].lower() == "image" %}
        <a href="/submission/{{ submission["ID"] }}/file/{{ filename_id }}">
            <img src="/submission/{{ submission["ID"] }}/file/{{ filename_id }}"
                 alt=""
                 onerror="this.onload = null; this.src = '/static/not-found.png'"
                 onload="$('download_file').disabled = false">
        </a>
    {% elif submission["TYPE"].lower() == "music" %}
        <div id="submission_thumbnail">
            <br>
            <img src="/submission/{{ submission["ID"] }}/thumbnail"
                 alt=""
                 onerror="this.src = '/static/not-found.png'">
        </div>
        <br>
        <audio src="/submission/{{ submission["ID"] }}/file/{{ filename_id }}"
               onload="$('download_file').disabled = false"
               controls>
            File not found
        </audio>
    {% elif file_text is not none %}
        <pre class="border">{% autoescape false %}{{ file_text }}{% endautoescape %}</pre>
    {% else %}
        <div id="submission_thumbnail">
            <br>
            <img src="/submission/{{ submission["ID"] }}/thumbnail"
                 alt=""
                 onerror="this.src = '/static/not-found.png'">
        </div>
        <br>
        <a href="/submission/{{ submission["ID"] }}/file/{{ filename_id }}"
           style="border: 1px solid black; padding: 3px">
            {{ filename|title }}
        </a>
    {% endif %}
</div>
<br>
<div style="text-align: center"><h2>{{ submission["TITLE"] }}</h2></div>
<br>
<div id="submission_metadata">
    <table class="border" style="max-width: 300px">
        <tr>
            <td class="border">Author</td>
            <td class="border overflow value"><a href="/user/{{ submission["AUTHOR"] }}">
                {{ submission["AUTHOR"] }}
            </a></td>
        </tr>
        <tr>
            <td class="border">Date</td>
            <td class="border overflow value">{{ submission["DATE"].strftime("%Y-%m-%d %H:%M") }}</td>
        </tr>
        <tr>
            <td class="border">Tags</td>
            <td class="border overflow value">
                {% for tag in submission["TAGS"] %}
                    {% if tag != "" %}
                        <a href='/search/submissions/?query=%40tags%20%22%7C{{ tag }}%7C%22'>{{ tag }}</a>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td class="border">Category</td>
            <td class="border overflow value">
                <a href="/search/submissions/?query=%40category%20%22{{ submission["CATEGORY"] }}%22">
                    {{ submission["CATEGORY"] }}
                </a>
            </td>
        </tr>
        <tr>
            <td class="border">Species</td>
            <td class="border overflow value">
                <a href="/search/submissions/?query=%40species%20%22{{ submission["SPECIES"] }}%22">
                    {{ submission["SPECIES"] }}
                </a>
            </td>
        </tr>
        <tr>
            <td class="border">Gender</td>
            <td class="border overflow value">
                <a href="/search/submissions/?query=%40gender%20%22{{ submission["GENDER"] }}%22">
                    {{ submission["GENDER"] }}
                </a>
            </td>
        </tr>
        <tr>
            <td class="border">Rating</td>
            <td class="border overflow value">
                <a href="/search/submissions/?query=%40rating%20%22{{ submission["RATING"] }}%22">
                    {{ submission["RATING"] }}
                </a>
            </td>
        </tr>
        <tr>
            <td class="border">Folder</td>
            <td class="border overflow value">
                <a href="/{{ submission["FOLDER"] }}/{{ submission["AUTHOR"] }}">
                    {{ submission["FOLDER"] }}
                </a>
            </td>
        </tr>
        <tr>
            <td class="border">Favorites</td>
            <td class="border overflow value">
                {% for user in submission["FAVORITE"] %}
                    {% if user != "" %}
                        <a href="/user/{{ user }}">{{ user }}</a>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td class="border">Mentions</td>
            <td class="border overflow value">
                {% for user in submission["MENTIONS"] %}
                    {% if user != "" %}
                        <a href="/user/{{ user }}">{{ user }}</a>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
    </table>
    <br>
    <a class="nocolor"
       href="/submission/{{ submission["ID"] }}/file/{{ filename_id }}" {{ "disabled" if submission["FILESAVED"] < 2 }}
       download>
        <button {{ "disabled" if submission["FILESAVED"] < 2 }}>Download File</button>
    </a>
    <a class="nocolor"
       href="/submission/{{ submission["ID"] }}/zip/submission-{{ "{0:010}".format(submission["ID"]) }}.zip">
        <button>Download as ZIP</button>
    </a>
    <br>
    <a class="nocolor" href="https://www.furaffinity.net/view/{{ submission["ID"] }}">
        <button>Open on Fur Affinity</button>
    </a>
    <br>
    <a class="nocolor" href="/submission/{{ next }}" {{ "disabled" if not next }}>
        <button {{ "disabled" if not next }}>Next</button>
    </a>
    <a class="nocolor" href="/gallery/{{ submission["AUTHOR"] }}">
        <button>Gallery</button>
    </a>
    <a class="nocolor" href="/submissions/{{ submission["AUTHOR"] }}">
        <button>All</button>
    </a>
    <a class="nocolor" href="/scraps/{{ submission["AUTHOR"] }}">
        <button>Scraps</button>
    </a>
    <a class="nocolor" href="/submission/{{ prev }}" {{ "disabled" if not prev }}>
        <button {{ "disabled" if not prev }}>Prev</button>
    </a>
</div>
<br><br>
<div id="submission_description">
    {% autoescape false %}
    {{ submission["DESCRIPTION"] }}
    {% endautoescape %}
</div>
<script>
    const $ = (id) => document.getElementById(id)

    document.querySelectorAll("#submission_description a.iconusername > img")
        .forEach((icon) => {
            icon.hidden = true
            icon.parentElement.innerText = `@${icon.title}`
        })

    document.querySelectorAll("#submission_description a, #submission_file pre a")
        .forEach((a) => a.href = a.href.replace(/^https?:\/\/(www\.)?furaffinity\.net\//, "/"))

    document.querySelectorAll("#submission_description code").forEach((e) => {
        const r = document.createElement("div")
        r.innerHTML = e.innerHTML
        r.classList = e.classList
        e.parentNode.replaceChild(r, e)
    })
</script>
</body>
</html>
